.container{
    width:100%;
    height: 100%;
    color: aquamarine;
    display:flex;
    justify-content : center;
    align-items : center;
}
.calculator{
    background: #f1faf2;
    border-color: aqua;
    padding : 20px;
    border-radius: 10%;
}
.calculator form input{
    border: 0;
    outline: 0;
    width:60px;
    height: 60px;
    background-color: blue;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 10px;
    
    box-shadow: -8px -8px 15px rgba(225, 225, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    cursor:pointer;
    margin:10px;

}
.calculator form input:hover{
    background-color: rgba(255, 255, 0, 0.489);
    color: black;
}
form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: rgba(124, 247, 145, 0.818);
    border-radius: 5px;
}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}
 .operator{
    color:rgb(239, 26, 26)
}